html {
    display: flex;
    justify-content:center;
    background-size:cover;
    height:200%;
    background: linear-gradient( 45deg, hsla(237, 64%, 56%, 1) 0%, hsla(291, 41%, 49%, 1) 50%, hsla(334, 81%, 60%, 1) 100% );
}

body{
    font-family: 'Kaushan Script', cursive;
    color: #0f141e;
    line-height: 100%;
    font-size: 16px;
    overflow: scroll;
}

.page{
    max-width:800px;
    padding:50px 100px;
    border-radius:10px;
    box-shadow:4px 4px 15px rgba(0, 0, 0, 0.2);
    background-color: Lavender;
    text-align: left;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.cleaner{
    text-align: center;
}

.clean {
    border: 1px solid black;
    color: black;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 17px;
    margin: 35px;

    background-size:300%;
    background-image:linear-gradient(45deg, #8A2387, #E94057, #F27121);
    font-weight:bold;
    animation:bg 1.5s infinite;
    animation-play-state:paused;
    transition:150ms ease-in-out;
}

.clean:hover {
    animation-play-state:running;
    cursor:pointer;
    transform:scale(1.1);
}

@keyframes bg {
    0% {
        background-position: 20% 50%;
    }
    50% {
        background-position: 100% 70%;
    }
    100% {
        background-position: 20% 50%;
    }
}